<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="testGfan" parallel="tests" >
	<test name="testfirefox">
		<parameter name="browser" value="firefox" />
		<classes>
			<class name="com.gfan.method.TestGfan" />
		</classes>
	</test>
	
	<test name = "testchrome">
	    <parameter name="browser" value="chrome" />
	    <classes>
			<class name="com.gfan.method.TestGfan" />
		</classes>
	</test>
	<test name = "testIE">
	    v<parameter name="browser" value="iexplore" />
	    <classes>
			<class name="com.gfan.method.TestGfan" />
		</classes>
	</test>
	
</suite>
